<div class="information-main-container">
  <div class="d-flex direction-row justify-content-space-between margin-bottom-10 ">
    <span class="body-text">{{number}}</span>
    <div class="status-container">
      <label class="status-text">{{status}}</label>
    </div>
  </div>
  <div class="w-90 d-flex direction-row justify-content-space-between margin-bottom-10">
    <div class="d-flex direction-column justify-content-center">
      <span class="title-gray-text">EMPRESA</span>
      <span class="body-text">{{business}}</span>
    </div>
    <div class="d-flex direction-column justify-content-center">
      <span class="title-gray-text">REPARTIDOR</span>
      <span class="body-text">{{user}}</span>
    </div>
    <div class="d-flex direction-column justify-content-center">
      <span class="title-gray-text">CLIENTE</span>
      <span class="body-text">{{client}}</span>
    </div>
  </div>
  <div class="d-flex direction-column">
    <div class="container-origin">
      <div class="d-flex direction-column">
        <span class="punter">●</span>
        <div class="punter-line"></div>
        <span class="punter">◌</span>
      </div>
      <div class="container-destiny d-flex direction-column justify-content-space-between">
        <span class="title-gray-text d-fex">ORIGEN</span>
        <span class="body-text">{{destiny}}</span>
        <span class="destiny-text">DESTINO</span>
      </div>
    </div>
    <span class="body-text">{{address}}</span>
  </div>

</div>
