<div class="main-delete-device-container">
  <!-- DU = "Delete Device" -->
  <div class="DD-header">

    <div class="w-90 h-100" style="padding-top: 15px; padding-left: 20px">
      <label class="DU-title">Eliminar Dispositivo</label>
    </div>

    <div class="DD-exit-container">
      <button class="DD-exit-button flap-i fg-e900"
              (click)="closeWindow()"></button>
    </div>
  </div>

  <div style="border: 1px solid #DDDDDD; width: 100%"></div>

  <div class="DD-body">

    <label class="DD-body-title">¿Estás seguro que deseas eliminar este Dispositivo?</label>
    <label class="DD-body-text">No se podrá recuperar los datos</label>

    <div class="h-10"></div>
    <div class="DD-buttons-container">

      <div class="w-40 h-50">
        <button (click)="closeWindow()" class="DD-cancel-button">Cancelar</button>
      </div>
      <div class="w-40 h-50">
        <button (click)="deleteClicked()" class="delete-device-button">Eliminar</button>
      </div>
    </div>
  </div>
</div>
