$base_color       : #2b2b2b;
$primary_color    : #3159a6;
$secondary_color  : #043494;
$tint_color       : #003192;
$font_color       : #c8c8c8;
$red_color        : #ed2020;
$border_color     : #757575;
$border_alt       : #353838;
$icons_color      : #c8c8c8;
$layout_bg        : #202020;

$dark:  (
  primaryColor: $primary_color,
  backgroundLayout: $layout_bg,
  background: $base_color,
  borderFocus: white,
  border: $border_color,
  borderSidebar: $border_alt,
  regularText: $font_color,
  button: $primary_color,
  highlight: $tint_color,
  danger: $red_color,
  iconColor: $icons_color,
  dashboardBanner: $secondary_color,
  dashboardBannerText: white
)
