@import "../../theme/styles/styles";

@include themify(){
  color: themed('regularText');

  .dashboard-absolute-bg-banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: themed('backgroundLayout');
  }
  .dashboard-content-banner {
    position: relative;
    width: 90%;
    height: 100%;
    left: 66px;
  }

  .title-text{
    color: themed(regularText);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }

  .header-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
  }

  .header-title-container{
    width: 70%;
    height: 100%;
    padding: 30px;
  }

  .header-buttons-container{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
  }

  .button-container{
    width: 30%;
    height: 30%;
    margin-top: 30px;
    margin-left: 20px;
  }

  .add-button-container{
    display: flex;
    width: 38%;
    height: 32%;
  }

  .export-button{
    width: 100%;
    height: 100%;
    border: 1px solid themed(border);
    border-radius: 25px;
    transition: 0.8s;
    color: black;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  .export-button:focus{
    outline:0;
  }
  .export-button:hover{
    background: lightsteelblue;
    color: white;
  }

  .add-client-button{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid themed(button);
    border-radius: 25px;
    transition: 0.8s;
    color: white;
    background-color: themed(button);
    font-size: 14px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
  }
  .add-client-button:focus{
    outline:0;
  }
  .add-client-button:hover{
    background-color: white;
    color: black;
  }

  .fix-container{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 625px;
    padding: 20px  350px;
    background-color: rgba(#292b2c,0.5);
  }

  .fix-container-center{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 625px;
    padding: 220px 450px;
    background-color: rgba(#292b2c, 0.5);
  }

  #businessCreated {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #businessCreated.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #businessEdited {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #businessEdited.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #businessDeleted {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #businessDeleted.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .loader {
    position: absolute;
    z-index: 100;
    top: 300px;
    left: 700px;
    width: 48px;
    height: 48px;
    border: 5px solid #F68827;
    border-bottom-color: #06B2BC;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}
